.address-container {
  width: calc(100% / 4 - 15px);
  margin-right: 30px;
}
.address__logo {
  display: inline-block;
  margin-bottom: 20px;
}
.address__logo--white {
  color: var(--white-text-color);
}
.address__link--recolor {
  color: var(--white-text-color);
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
