.social-container {
  width: calc(100% / 4 - 15px);
  margin-right: 30px;
}
.social__item {
  display: inline-block;
}
.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color var(--duration) var(--cubic);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
}
.social__icon {
  width: 20px;
  height: 20px;
  fill: var(--white-text-color);
}
