.social {
  display: flex;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color var(--duration) var(--cubic);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
}
.social__icon {
  width: 20px;
  height: 20px;
  fill: var(--white-text-color);
}
@media screen and (min-width: 480px) {
}
@media screen and (max-width: 767px) {
  .social-container {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .social-container {
    text-align: center;
  }
  .social {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .social-container {
    width: calc(100% / 2);
  }
}
